.HeroSection {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    align-items: center;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
}
.HeroSection span {
    display: block;
}
.HeroSection .img-container {
    width: 60%;
    height: 600px;
    overflow: hidden;
    margin-right: 1.4rem;
}
.HeroSection img {
    transition: transform .3s;
}
.HeroSection img:hover {
    transform: scale(1.2, 1.2);
}
.hero-text {
    text-align: left;
}
.bigger {
    font-size: 2.5rem;
}
.big {
    font-size: 2rem;
}
.rating-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.features ul {
    list-style-position: inside;
    font-weight: 600;
}
/* .HeroSection .LayOnImage {
    position: relative;
    top: -70%;
    left: -50%;
    height: 600px;
} */