.HeroSection {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    align-items: center;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 600;
}
.HeroSection span {
    display: block;
}
.HeroSection .img-container-1 {
    width: 60%;
    overflow: hidden;
    margin-right: 1.4rem;
    border: 2px solid blue;
    height: 600px;
}
.HeroSection .img-container-2 {
    height: 351px;
}
.HeroSection img {
    display: block;
    transition: transform .3s;
    object-fit: cover;
}
.HeroSection img:hover {
    transform: scale(1.2, 1.2);
}
.hero-text {
    text-align: left;
}
.bigger {
    font-size: 2.5rem;
}
.big {
    font-size: 2rem;
}
.rating-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.features ul {
    list-style-position: inside;
    font-weight: 600;
}
/* .HeroSection .LayOnImage {
    position: relative;
    top: -70%;
    left: -50%;
    height: 600px;
} */
/* @media screen and (max-width: 900px){
    .HeroSection .img-container {
        height: 300px;
        border: 2px solid teal;
    }
}
@media screen and (max-width: 400px){
    .HeroSection .img-container {
        height: 120px;
        border: 2px solid teal;
    }
} */