.RegularButton button, .xxtra-wide-invert {
    margin: 5px 0 0;
    display: inline-block;
    background-color: #7B602A;
    color: #fff;
    font-weight: 600;
    border: none;
    height: 2.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all .4s;
    box-sizing: border-box;
}
.RegularButton .wide {
    width: 7rem;
}
.RegularButton .xtra-wide {
    width: 8rem;
}
.RegularButton .invert {
    font-size: 0.9rem;
    width: 6rem;
}
.RegularButton .xxtra-wide, .xxtra-wide-invert {
    width: 90%;
}
.RegularButton .xxtra-wide-invert {
    color: #7B602A;
    background-color: transparent;
    border: 2px solid #7B602A;
    transition: all .4s;
}
.RegularButton .normal {
    padding: 10px 6px;
}
.RegularButton .slim {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    width: 100px;
    height: 1.8rem;
    margin: 0;
    padding: 0;
}
.RegularButton button:hover, .RegularButton .xxtra-wide-invert:hover {
    background-color: #fff;
    border: 2px solid #7B602A;
    color: #7B602A;
    box-shadow: 0 4px 6px #222;
    transition: all .2s;
}
.RegularButton .xxtra-wide-invert:hover {
    background-color: #7B602A;
    color: #fff;
    border: 2px solid #fff;
}
.RegularButton button:active, .RegularButton .xxtra-wide-invert:active {
    background-color: #7b602aae;
    color: #ddd;
    box-shadow: 0 0 0 0 #fff;
    border: none;
}