* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
.Header, .HeroSection {
    color: #0B3040;
    background-color: #F3FAFD;
}
.breaker {
    color: #000;
    width: 50%;
    margin: 10px 0;
}
.breaker .all-caps {
    text-transform: uppercase;
}
.product-section {
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 0;
}

@media screen and (max-width: 900px) {
    .Main {
        flex-direction: column;
        align-items: stretch;
    }
    .Section {
        width: 100%;
        box-sizing: border-box;
    }
}