.Homepage {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: #F3FAFD;  
}
.Header, .HeroSection {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #0B3040;
    background-color: #F3FAFD;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.breaker {
    color: #000;
    width: 50%;
    margin: 50px 0;
}
.breaker .all-caps {
    text-transform: uppercase;
}
.product-section, .trending-section, .flash-sales-section {
    display: flex;
    flex-flow: row nowrap;
    width: 90%;
}
.product-section {
    margin: 10px 0 50px;
}
.trending-section {
    margin: 10px 0;
    justify-content: space-between;
}
.flash-sales-section {
    column-gap: 10px;
}